<footer class="footer">
  <div class="footer__wrapper container">
    <a href="#">
      <img src="img/footer_logo.png" alt="">
    </a>
    <div class="footer__right-col">
      <a href="mailto:Baikal-TOP@maso.su">Baikal-TOP@maso.su</a>
      <p>Офис:  РФ, г. Улан-Удэ, ул. Цивилёва, 27</p>
      <a href="tel:892455621232">Тел.: 8924-556-212-32</a>
      <ul class="footer__social">
        <li>
          <a href="#">
            <img src="img/icon_whatsapp.svg" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/icon_vk.svg" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/icon_viber.svg" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/icon_telegram.svg" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
