<header class="header header--all-page">
  <div class="header__wrapper container">
    <a class="header__logo" href="index.html">
      <img src="img/header_logo.png" alt="">
    </a>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
    </button>
    <div class="header__col-right">
      @include('nav.html')
      <div class="header__button-wrapper">
        <a class="header__button button button--yellow" href="#" data-graph-path="modal">
          <span>Оставить заявку</span>
        </a>
      </div>
    </div>
  </div>
</header>
